.total1{
    position: relative;
    margin-top: 736px;
    margin-left: 20px;
}
.total2{
    position: relative;
    margin-top: 110px;
    margin-left: 20px;
}
.total3{
    position: relative;
    margin-top: 75px;
    margin-left: 19px;
}
.total4{
    position: relative;
    margin-top: 95px;
    margin-left: 19px;
}
.total5{
    position: relative;
    margin-top: 76px;
    margin-left: 19px;
}
.total6{
    position: relative;
    margin-top: 70px;
    margin-left: 19px;
}
.total7{
    position: relative;
    margin-top: 76px;
    margin-left: 19px;
}

.head1{
    margin-left: 7px;
    display: flex;
    gap: 983px;
}

.head2{
    margin-left: 7px;
    display: flex;
    gap: 1013px;
}

.head3{
    margin-left: 7px;
    display: flex;
    gap: 990px;
}

.head4{
    margin-left: 7px;
    display: flex;
    gap: 1024px;
}

.head5{
    margin-left: 7px;
    display: flex;
    gap: 1003px;
}

.head6{
    margin-left: 7px;
    display: flex;
    gap: 889px;
}

.head7{
    margin-left: 7px;
    display: flex;
    gap: 946px;
}

.rec{
    font-size: 26px;
    font-weight: bold;
    cursor: default;
}

.see{
    color: red;
    font-family: bold;
    cursor: pointer;
}

.pics{
    display: flex;
    margin-top: 7px;
    gap: 15px;
}

.pic{
    cursor: pointer;
}

.Mname{
    margin-top: 10px;
    font-weight: bolder;
    text-align: left;
    margin-left: 7px;
    font-size: 19px;
    width: 233px;
}

.genre{
    text-align: left;
    margin-top: 6px;
    margin-left: 7px;
    color: rgba(75, 75, 75, 0.958);
}

.type{
    text-align: left;
    margin-top: 4px;
    margin-left: 7px;
    color: rgba(75, 75, 75, 0.958);
}